<!-- One -->
<section id="one">
	<header class="major">
		<h2>
			Potencia tu presencia digital con un sitio web único y profesional
		</h2>
	</header>
	<p>
		Eleva tu presencia en línea con un sitio diseñado a medida para destacar. Comprendo la importancia de captar la atención desde el primer momento. Mi enfoque se centra en la creación de sitios web visualmente atractivos y optimizados para ofrecer resultados sobresalientes. Descubre cómo puedo llevar tu presencia en línea al siguiente nivel y cautivar a tu audiencia desde el primer clic.
	</p>
	<ul class="actions">
		<li><a href="
			https://api.whatsapp.com/send?phone=593992525656&text=Hola,+necesito+asesoramiento+para+un+sitio+Web
			" class="button">¡Quiero una cotización personalizada!</a></li>
	</ul>
</section>
