<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li>
				<a href="https://www.instagram.com/mumaran.dev/" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
			</li>
			<li>
				<a href="mailto:mumara@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a>
				
			</li>
		</ul>
		<ul class="copyright">
			<li>&copy; 2023 - Desarrollado por Muriell Rangel</li>
		</ul>
	</div>
</footer>
