<!-- Three -->
<section id="three">
	<h2>Destaca con un sitio web eficiente, atractivo y efectivo</h2>
	<p>
		Maximiza tu impacto en línea con un sitio web de una sola página diseñado a medida. Comprendo la importancia de captar la atención desde el primer momento. Un sitio web no solo debe ser visualmente atractivo, sino que también está optimizado para ofrecer resultados sobresalientes. Descubre cómo podemos llevar tu presencia en línea al siguiente nivel.
	</p>
	<ul class="actions">
		<li><a href="
			https://api.whatsapp.com/send?phone=593992525656&text=Hola,+necesito+asesoramiento+para+un+sitio+Web
			" class="button">¡Quiero una Cotización ya!</a></li>
	</ul>
	
</section>
