<!-- Three -->
<section id="three">
  <h2>
    Hola,<br />soy MUMA
  </h2>
  <h3>Personalizo y codifico cosas maravillosamente simples y amo lo que hago</h3>
  <p>
    Comprendo la importancia de captar la atención desde el primer momento. Un
    sitio web no solo debe ser visualmente atractivo, sino que también está
    optimizado para ofrecer resultados sobresalientes. Descubre cómo podemos
    llevar tu presencia en línea al siguiente nivel.
  </p>
  <ul class="actions">
    <li>
      <a
        href="
			https://api.whatsapp.com/send?phone=593992525656&text=Hola,+necesito+asesoramiento+para+un+sitio+Web
			"
        class="button">¡Contáctame ahora!</a
      >
    </li>
  </ul>
</section>
