---
import logo from '../assets/logomumarangris.png';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={logo} alt="" /></a>
		<h1>
			<strong>¿Necesitas un sitio web?</strong>
			Destaca con un sitio web eficiente, atractivo y efectivo.
		</h1>
	</div>
</header>
