---
import logo from '../assets/logomumarangris.png';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={logo} alt="" /></a>
		<h1>
			<strong>¿Necesitas un nuevo sitio web?</strong>
			Construyamos tu sitio web y hagamos que cada detalle coincida con tu vision.
		</h1>
	</div>
</header>
